<footer class="footer">
  <div class="footer__container">
    <!-- Информация (логотип, контакты) -->
    <a href="#" class="footer__logo">НЕО</a>
    <div class="footer__info">
      <div class="footer__info-item">
        <!-- Иконка телефона -->
        <img src="assets/icons/phone.svg" alt="" />
        <a href="tel:+79172137593">+7 (917) 213-75-93</a>
      </div>
      <div class="footer__info-item">
        <!-- Иконка почты -->
        <img src="assets/icons/mail.svg" alt="" />
        <a href="mailto:m.anikin1978@yandex.ru">m.anikin1978@yandex.ru</a>
      </div>
      <div class="footer__info-item">
        <!-- Иконка адреса -->
        <img src="assets/icons/location.svg" alt="" />
        <span style="color: #ccc">Саратов, ул. Чернышевского, 50в</span>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <p>© 2025 ООО «НЕО». Все права защищены.</p>
    <a href="#hero" class="back-to-top">Наверх ↑</a>
  </div>
</footer>
