<footer class="footer">
  <div class="footer__container">
    <!-- Информация (логотип, контакты) -->
    <a href="#" class="footer__logo">НЕО</a>
    <div class="footer__info">
      <div class="footer__info-item">
        <!-- Иконка телефона -->
        <img class="footer_ico" src="assets/icons/phone.svg" alt="" />
        <a href="tel:+79172137593">+7 (917) 213-75-93</a>
      </div>
      <div class="footer__info-item">
        <!-- Иконка почты -->
        <img class="footer_ico" src="assets/icons/mail.svg" alt="" />
        <a href="mailto:m.anikin1978@yandex.ru">m.anikin1978@yandex.ru</a>
      </div>
      <div class="footer__info-item">
        <!-- Иконка адреса -->
        <svg
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#fff"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0" />

          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          />

          <g id="SVGRepo_iconCarrier">
            <path
              d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z"
              stroke="#fff"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
              stroke="#fff"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
        </svg>
        <span style="color: #ccc">Саратов, ул. Чернышевского, 50в</span>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <p>© 2025 ООО «НЕО». Все права защищены.</p>
    <a href="#hero" class="back-to-top">Наверх ↑</a>
  </div>
</footer>
